
/* header navegador */
.contenedorTitulos{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 3;
  border-bottom: 2px solid #0C2440;
}

.links{
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  margin-right: 10px;
  border: 2px solid blue;
  position: absolute;
  left: 15vh;
}

.nav-logo{
  max-width: 75px;
}

.links a{
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  margin-right: 10px;
}

.contenedorBuscador{
position: absolute;
right: 4vh;
top: 3vh;
border: 1px solid gray;
}

.buscar{
  border-radius: 40px;
  height: 4vh;
  justify-content: center;
  display: flex;
}

.iconoBuscador{
  color:white;
    height: 8vh;
}
.posterSerie img{
  min-width: 80%;
  min-height: 60vh;
}

.infoDeSerie iframe{
  min-width: 100%;
  min-height: 100%;
}

  .poster_path {
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

div.infoDeSerie {
  justify-content: space-around;
  align-items: center;
  width: 59.2%;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.detalle-Serie {
  background-color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  width: 100%;
}

/* estilos del body */


/* estilos del footer */

footer{
  width: 100%;
  color: #0C2440;
  height: 80px;
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  border-top: 2px solid #0C2440;
}

.logo img{
  max-width: 50px;
}

.logo{
  margin-left: 20px;
}
